{
  "root": true,
  "env": {
    "browser": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 8
  },

  "extends": "airbnb",
  "rules": { "comma-dangle": 0 }
}
